<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="nav"><h1>Bem vindo ao registro!</h1></div> <br> 
    Já tem conta? <a href="{{url_for('login')}}">Faça seu login</a> <br><br>
    <div class="formulario">
        <form action="{{url_for('register')}}" method="post">
            <input type="text" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Senha">
            <button>Enviar</button>
        </form> 
    </div>
</body>
</html>